<div class="sidebar-container stretch-height">
  <div class="p-5">
    <div
      class="is-flex is-flex-direction-row is-align-items-center clickable"
      (click)="redirectFeed()"
    >
      <div>
        <img src="assets/Dislinkt-logo-no-padding.png" width="30px" />
      </div>
      <h1 class="ml-2">Dislinkt</h1>
    </div>
  </div>

  <div>
    <mat-button-toggle-group
      vertical="true"
      [(ngModel)]="currentPage"
      (change)="redirect()"
    >
      <mat-button-toggle value="" [disabled]="currentPage == ''"
        ><div class="label-container">
          <mat-icon>home</mat-icon>Feed
        </div></mat-button-toggle
      >
      <mat-button-toggle
        value="user/{{ loginUser.id }}"
        [disabled]="loginUser.role == 'ADMIN'"
        ><div class="label-container">
          <mat-icon>person</mat-icon>My Company
        </div></mat-button-toggle
      >
      <mat-button-toggle
        value="job-offers"
        [disabled]="
          currentPage == 'job-offers' || loginUser.role != 'COMPANY_OWNER'
        "
        ><div class="label-container">
          <mat-icon>business_center</mat-icon>My Job offers
        </div></mat-button-toggle
      >
      <mat-button-toggle value="admin" *ngIf="loginUser.role == 'ADMIN'"
        ><div class="label-container">
          <mat-icon>feedback</mat-icon>Admin Dashboard
        </div></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div class="has-text-centered p-5 new-post-container">
    <button
      mat-raised-button
      color="accent"
      matTooltip="Write a new post to your connections!"
      class="new-post-button shadow-hover"
      (click)="newPost()"
    >
      <mat-icon class="mr-3">edit</mat-icon>New Job Offer
    </button>
  </div>
</div>
