.dialog {
  width: 900px;
  max-height: 80vh;
  overflow-y: scroll;
}

mat-chip {
  cursor: pointer !important;
}

.selected {
  background-color: #5c6bc0 !important;
  color: white !important;
}

h3 {
  margin-top: 20px;
}
