<mat-card class="mb-5">
  <div class="is-flex is-flex-direction-row">
    <profile-picture [user]="comment.user"></profile-picture>
    <div class="is-flex is-flex-direction-column ml-5">
      <p>
        <strong>{{ comment.user.name }} {{ comment.user.surname }}</strong>
      </p>
      <p>
        {{ comment.comment }}
      </p>
      <hr />
      <div class="columns sub-info">
        <div class="column">
          <span> <strong>Salary: </strong> ${{ comment.salary | number }} </span>
        </div>
        <div class="column rating-column">
          <span>
            <strong>Rating: </strong>
            <span class="rating"
              >{{ comment.rating }}/5 <mat-icon>star</mat-icon>
            </span></span
          >
        </div>
      </div>
    </div>
  </div>
</mat-card>
