<div class="columns">
  <div class="column">
    <div class="stretch-width is-flex is-flex-direction-column post-column">
      <detailed-post-display></detailed-post-display>
      <write-comment></write-comment>
      <h2>Comments (14)</h2>
      <mat-divider class="mb-5"></mat-divider>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
      <comment-preview></comment-preview>
    </div>
  </div>
  <div class="column is-4 side-column">
    <sidebar-right></sidebar-right>
  </div>
</div>
