<div class="stretch-width is-flex-direction-column is-justify-content-center">
  <div *ngIf="post.type === 'NEW_USER'">
    <mat-card
      class="post-container clickable"
      (click)="redirectProfile(post.user.id)"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <profile-picture [user]="post.user" [size]="40"></profile-picture>
        </div>
        <mat-card-title
          >{{ post.user.name }} joined Dislinkt Agents! 😄</mat-card-title
        >
        <mat-card-subtitle>{{
          post.timestamp | date: "medium"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-4">
        <p>
          Welcome, <strong>{{ post.user.name }} {{ post.user.surname }}</strong
          >! We hope you have an amazing time here! We are grateful to have you
          join our community, and hope you discover new opportunities for your
          career here.
        </p>
      </mat-card-content>
      <mat-card-actions class="my-3 ml-5">
        <i
          >Wish to contact {{ post.user.name }}? Message them here:
          {{ post.user.email }}</i
        >
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="post.type === 'NEW_COMPANY'">
    <mat-card
      class="post-container clickable"
      (click)="redirectProfile(post.company.user.id)"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <profile-picture
            [company]="post.company"
            [size]="40"
          ></profile-picture>
        </div>
        <mat-card-title>A new company has been registered. 💼</mat-card-title>
        <mat-card-subtitle>{{
          post.timestamp | date: "medium"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-4">
        <div class="title">
          <strong>{{ post.company.name }}</strong> has just registered!
        </div>
        <br />
        <div class="tagline">{{ post.company.tagline }}</div>
        <br />
        {{ post.company.description }}
      </mat-card-content>
      <mat-card-actions class="my-3 ml-5">
        <i
          >Wish to contact {{ post.company.name }}? Email them here:
          {{ post.company.emailList[0] }}</i
        >
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="post.type === 'NEW_JOB_OFFER'">
    <mat-card
      class="post-container clickable"
      (click)="redirectJobOffer(post.jobOffer.id)"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <profile-picture
            [company]="post.jobOffer.company"
            [size]="40"
          ></profile-picture>
        </div>
        <mat-card-title
          >New job offer: {{ post.jobOffer.position }} 📃</mat-card-title
        >
        <mat-card-subtitle>{{
          post.timestamp | date: "medium"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-4">
        <div class="title">
          {{ post.jobOffer.position }}, {{ post.jobOffer.seniority }}
        </div>
        <br />
        <div class="tagline">
          <strong>{{ post.jobOffer.company.name }}</strong> has just posted a
          new job offer!
        </div>
        <br />
        {{ post.jobOffer.description }}
      </mat-card-content>
      <mat-card-actions class="my-3 ml-5">
        <i
          >Wish to contact {{ post.jobOffer.company.name }}? Email them here:
          {{ post.jobOffer.company.emailList[0] }}</i
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
