<h1>Hello, {{ loginResponse.fullName }}! 👋</h1>
<div class="columns">
  <div class="column">
    <h2>
      Welcome to the feed. Here you can see the newest job offers, registered
      companies and community updates.
    </h2>
    <mat-divider></mat-divider>
    <div
      class="stretch-width is-flex is-flex-direction-column is-align-items-center my-5"
    >
      <post-display *ngFor="let post of posts" [post]="post"></post-display>
    </div>
  </div>
  <div class="column is-4 side-column">
    <sidebar-right></sidebar-right>
  </div>
</div>
