<div class="columns mb-5 pb-5">
  <div class="column stretch-width">
    <mat-spinner color="accent" *ngIf="user.name == ''"></mat-spinner>
    <div
      class="stretch-width box"
      *ngIf="user.name != '' && user.role != 'COMPANY_OWNER'"
    >
      <div class="cover-image"></div>
      <div class="profile-photo" *ngIf="user.name != ''">
        <profile-picture
          [activeUser]="true"
          [size]="120"
          *ngIf="myProfileFunc()"
        ></profile-picture>

        <profile-picture
          [user]="user"
          [size]="120"
          *ngIf="!myProfileFunc()"
        ></profile-picture>
      </div>

      <div class="mt-5 is-flex is-flex-direction-row">
        <div class="stretch-width">
          <h1>
            <span class="clickable"> {{ user.name }} {{ user.surname }} </span>
          </h1>
          <p>
            {{ user.email }}
          </p>
        </div>
        <div
          class="is-flex is-flex-direction-column is-justify-content-flex-start is-align-items-end"
        >
          <mat-chip-list>
            <mat-chip selected>{{ user.role }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div
      class="stretch-width box"
      *ngIf="
        user.name != '' && user.role == 'COMPANY_OWNER' && company.id != ''
      "
    >
      <div class="cover-image2"></div>
      <div class="profile-photo" *ngIf="user.name != ''">
        <profile-picture [company]="company" [size]="120"></profile-picture>
      </div>

      <div class="mt-5 is-flex is-flex-direction-row">
        <div class="stretch-width">
          <h1>
            <span class="clickable"> {{ company.name }} </span>
          </h1>
          <h2>
            {{ company.tagline }}
          </h2>
        </div>
        <div
          class="is-flex is-flex-direction-column is-justify-content-flex-start is-align-items-end"
        >
          <div class="is-flex is-flex-direction-row is-align-items-center">
            <button
              mat-icon-button
              color="accent"
              matTooltip="Company settings"
              *ngIf="myProfileFunc() && user.role == 'COMPANY_OWNER'"
              (click)="companySettings()"
            >
              <mat-icon>settings</mat-icon>
            </button>
            <mat-chip-list>
              <mat-chip selected>COMPANY</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>

    <!-- USER - FEED -->
    <div
      *ngIf="myProfileFunc() && user.role == 'USER'"
      class="content is-medium is-flex is-flex-direction-column is-align-items-center"
    >
      <p>You are not a company owner yet.</p>
      <div>
        <button
          mat-raised-button
          color="accent"
          (click)="registerCompanyForm()"
          [disabled]="company.id != ''"
        >
          Register your company
        </button>
      </div>
    </div>

    <!-- COMPANY OWNER - FEED -->
    <div
      *ngIf="user.role == 'COMPANY_OWNER'"
      class="content is-flex is-flex-direction-column is-align-items-center stretch-width"
    >
      <div class="stretch-width" *ngIf="company.id != ''">
        <div class="box stretch-width">
          <div class="columns">
            <div class="column mr-5">
              <h2>Description</h2>
              <p class="has-text-justified">
                {{ company.description }}
              </p>
            </div>
            <div class="column is-5 ml-5">
              <h2>Contact informations</h2>
              <div
                class="personal-info"
                *ngFor="let email of company.emailList"
              >
                <span>
                  <mat-icon>email</mat-icon>
                  <strong class="info-text">{{ email }}</strong>
                </span>
              </div>
              <div
                class="personal-info"
                *ngFor="let phone of company.phoneNumberList"
              >
                <span>
                  <mat-icon>phone</mat-icon>
                  <strong class="info-text">{{ phone }}</strong>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="box stretch-height">
              <h2>Technologies</h2>
              <mat-chip-list>
                <mat-chip
                  color="primary"
                  selected
                  disableRipple="true"
                  *ngFor="let technology of company.technologies"
                  >{{ technology }}</mat-chip
                >
              </mat-chip-list>
              <div class="ml-3 mb-5" *ngIf="company.technologies.length == 0">
                No technologies to show.
              </div>
            </div>
          </div>

          <div class="column">
            <div class="box stretch-height">
              <h2>Company owner</h2>
              <h3>{{ user.name }} {{ user.surname }}</h3>
              <p>{{ user.email }}</p>

              <div class="ml-3 mb-5" *ngIf="company.technologies.length == 0">
                No technologies to show.
              </div>
            </div>
          </div>
        </div>

        <h2>Job offers ({{ jobOffers.length }})</h2>
        <p *ngIf="jobOffers.length == 0">
          This company has no job offers at the moment.
        </p>
        <div
          class="box clickable"
          *ngFor="let jobOffer of jobOffers"
          (click)="redirectJobOffer(jobOffer.id)"
        >
          <h2>{{ jobOffer.position }}: {{ jobOffer.seniority }}</h2>
          <p>
            {{ jobOffer.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-4 side-column">
    <sidebar-right></sidebar-right>
  </div>
</div>
