<mat-card class="post-container">
  <mat-card-header>
    <div mat-card-avatar>
      <ngx-avatar name="Freud Cat" size="40"></ngx-avatar>
    </div>
    <mat-card-title
      >{{ jobOffer.position }}: {{ jobOffer.seniority }}</mat-card-title
    >
    <mat-card-subtitle class="clickable" (click)="redirectAuthorProfile()"
      >{{ jobOffer.company.name }} -
      {{ jobOffer.company.tagline }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="mt-4">
    <p>
      {{ jobOffer.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div
      class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center m-3"
    >
      <mat-chip-list>
        <mat-chip selected *ngFor="let technology of jobOffer.technologies">{{
          technology
        }}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-actions>
</mat-card>
